body {
    font-family: sans-serif; /*Aqui eu adicionei uma fonte padrão para todo o corpo do HTML*/
    background-color: var(--bg);
}

h1 {
    font-family: 'franklin gothic medium'; /*Aqui adicionei uma fonte apenas par h2*/
    text-align: center; /*Aqui centraliza o h2 na pagina*/
}
p {
    text-align: center;
}
h2 {
    text-align: center;
}
ul {
    margin-left: 45%;
    margin-right: 45%;
    list-style:none; /*Isso remove o simbolozinho da lista*/
    padding: 0; /*Remove o preenchimento, sem isso a lista não fica centralizada mesmo com o text-align*/
    text-align: center;
    background-color: var(--bgUlColor);
}
li {
    margin: 15px;
    color: var(--fontColorUl);
}

.btn {
    display: block;
    margin: auto;
    background-color: #000000;
    color:rgb(255, 255, 255);
    font-family: cursive;
}
.dark-theme {
    --bg: var(--black);
    --font-color: var(--white);
    --bgUlColor: var(--yellow);
    --fontColorUl: var(--black);
}
.light-theme {
    --bg: var(--white);
    --font-color: var(--black);
    --bgUlColor: var(--purple);
    --fontColorUl: var(--white);
    /*--bg:var(--green);
    --font-color:var(--black);
    --btnBg:var(--black);
    --btnFontColor:var(--white);*/
}
:root {
    --white: #ffffff;
    --black: #000000;
    --purple: rgb(204, 0, 255);
    --yellow: rgb(255, 255, 0);
}
* {
    color: var(--font-color);
    font-family: helvetica;
}